* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    scroll-padding: none;

}

header {
    display: flex;
    height: 125px;
    align-items: center;
    border-bottom: 1px solid #d3d3d3;
    background-color: #00000007;
}

.box-header {
    margin-left: 470px;
    display: flex;
}

.apple-grey-header {
    width: 100px;
    cursor: pointer;
}

.apple-grey-header:hover {
    opacity: 0.8;
    width: 105px;
    transition: all 0.6s ease;
}

.icon-apple-header {
    position: absolute;
    margin-left: 100px;
}

.images-header {
    position: relative;
    margin-top: 6px;
    width: 100px;
    cursor: pointer;
    margin-left: 35px;

}

.one-hover:hover {
    transition: all 0.6s ease-out;
    transform: translateY(-10px);

}

.two-hover:hover {
    transition: all 0.6s ease-out;
    transform: translateY(-10px);
}

.three-hover:hover {
    transition: all 0.6s ease-out;
    transform: translateY(-10px);
}

.four-hover:hover {
    transition: all 0.6s ease-out;
    transform: translateY(-10px);
}

.five-hover:hover {
    transition: all 0.6s ease-out;
    transform: translateY(-10px);
}

.six-hover:hover {
    transition: all 0.6s ease-out;
    transform: translateY(-10px);
}

.seven-hover:hover {
    transition: all 0.6s ease-out;
    transform: translateY(-10px);
}

.div-support {
    display: flex;
    margin-left: 42px;
}

.image-support {
    width: 50px;
    height: 30px;
    margin-top: 10px;
}

.image-support:hover {
    opacity: 0.9;
}

.legends-mac {
    align-items: center;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 400;
    color: #0a0a0a;
    cursor: pointer;
    margin-left: 76px;
    border-right: 1px solid #c1c1c1;
}

.legends-ipad {
    align-items: center;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 400;
    color: #0a0a0a;
    cursor: pointer;
    margin-left: 67px;
    border-right: 1px solid #c1c1c1;
}

.legends-iphone {
    align-items: center;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 400;
    color: #0a0a0a;
    cursor: pointer;
    margin-left: 60px;
    border-right: 1px solid #c1c1c1;
}

.legends-watch {
    align-items: center;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 400;
    color: #0a0a0a;
    cursor: pointer;
    margin-left: 63px;
    border-right: 1px solid #c1c1c1;
}

.legends-airpods {
    align-items: center;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 400;
    color: #0a0a0a;
    cursor: pointer;
    margin-left: 58px;
    border-right: 1px solid #c1c1c1;
}


.legends-accessories {
    align-items: center;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 400;
    color: #0a0a0a;
    cursor: pointer;
    margin-left: 45px;
    border-right: 1px solid #c1c1c1;
}

.legends-appletv {
    align-items: center;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 400;
    color: #0a0a0a;
    cursor: pointer;
    margin-left: 41px;
    border-right: 1px solid #c1c1c1;
}

.legends-support {
    font-size: 15px;
    font-weight: bold;
    margin-top: 18px;
    color: #000000ce;
}

.especialista-support {
    width: 10px;
    font-weight: 400;
    text-decoration: none;
    color: #08f;
}

.especialista-support:hover {
    text-decoration: underline;
}

.especialista-sup {
    margin-left: 92px;
    margin-bottom: 10px;
}


.legends-mac:hover {
    text-decoration: underline;
}

.legends-accessories:hover {
    text-decoration: underline;
}

.legends-watch:hover {
    text-decoration: underline;
}

.legends-airpods:hover {
    text-decoration: underline;
}

.legends-appletv:hover {
    text-decoration: underline;
}

.legends-ipad:hover {
    text-decoration: underline;
}

.legends-iphone:hover {
    text-decoration: underline;
}

.box-blue {
    display: flex;
    padding: 35px;
    justify-content: space-between;
    align-items: center;
}

.title-iphone {
    font-size: 25px;
}

.title-second {
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.text-principal {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.value {
    font-size: 20px;
    color: #626262;
    font-weight: 300;
    margin-bottom: 20px;
}

.button-buy {
    padding: 5px 15px;
    border-radius: 15px;
    font-size: 20px;
    background-color: #0071e3;
    color: #ffffff;
    cursor: pointer;
    border: none;
}

.button-buy:active {
    background-color: #5aaedf;
}

.button-buy:hover {
    opacity: 0.8;
    transition: all 0.6s ease;
    transform: translateY(3px);

}

.color-paragraph-buttons {
    margin-top: 40px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 22px;
    color: #3a3a3a;
}

.all-colors {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

.all-colors:hover {
    transform: translateY(-10px);
}

.circle-blue {
    background-color: #81a5c4;
}

.circle-yellow {
    background-color: #f7da47;
}

.circle-white {
    background-color: #c1c1c1;
}

.circle-black {
    background-color: #272d33;
}

.circle-red {
    background-color: #c70c0c;
}

.circle-purple {
    background-color: #ede7f1;
}


.image-iphone {
    width: 350px;
    margin-top: 15px;
    z-index: 99;
}

.circle-right {
    width: 100%;
    height: 100%;
    background-color: #81a5c4;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: circle(600px at right 1000px);
}

section {
    margin-left: 20px;
}



@media screen and (max-width: 400px) {

    
    .apple-grey-header {
        width: 185px;
    }

    .apple-grey-header:hover {
        opacity: 0.8;
        width: 190px;
        transition: all 0.6s ease;

    }
    
    
    .box-blue {
        display: block;
        align-items: center;
    }

    .icon-apple-header {
        display: flex;
    }

    .box-header {
        display: block;
        margin: 185vh auto 15px 70px;
        align-items: center;
    }

    .images-header {
        position: relative;
        margin-top: 20px;
        width: 180px;
        cursor: pointer;
        margin-left: 35px;
    }

    .title-iphone {
        margin-left: 22vw;
    }

    section {
        display: block;
        margin-top: 430%;
    }

    .title-second {
        font-size: 35px;
        margin-top: 23px;
        margin-bottom: 20px;
        text-align: center;
    }

    .legends-responsive {
        border-right: none;
        border-bottom: 1px solid #c1c1c1;
        padding: 10px 0 10px 40px;
        font-size: 15px;
        font-weight: 400;
        color: #0a0a0a;
        cursor: pointer;
    }

    .text-principal {
        font-size: 18px;
    }

    .value {
        font-size: 16px;
    }

    .button-buy {
        font-size: 20px;
        display: block;
        margin: 0 auto;
    }

    .color-paragraph-buttons {
        margin-top: 40px;
        font-size: 20px;
        text-align: center;
    }

    .all-colors {
        margin-left: 5px;
    }

    .circle-right {
        width: 100%;
        height: 90%;
        position: absolute;
        top: 1650px;
        left: 0;
        z-index: -1;
        clip-path: circle(532px at right 1023px);
    }
    
    .image-iphone {
        width: 250px;
        margin-left: 38px;
        padding-bottom: 12px;
        z-index: 1;
    }
    



}